body {
    font-family: sans-serif;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}

.pavay {
    color: burlywood;
    text-align: center;
}

h1 {
    font-size: 90px;
    margin: 10px;
}

h2 {
    font-size: 30px;
    font-style: italic;
}

.promo {
    color: brown;
}

.promo a {
    color: brown;
}